.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 10rem;
    margin: 0 auto;

    a {
      color: inherit;
      padding: 1rem;
    }

    a:hover {
      color: gray;
    }
  }
}
